header {
    margin-right: 20%;
    margin-left: 20%;
    font-size: 20px;
}

header a, .main-news, .news a, .news, .registration{
    display: block;
    transition: .3s;
    color: purple;
}

header a:hover, .news:hover{
    transform: scale(1.1);
    color: darkviolet;
}

.main-news {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.news, .registration {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 18px;
}

.footer {
    bottom:6%;
    width: 80%;
    margin-left: 10%;

}

.comments {
    text-align: left;
}

#id_text {
    resize: none;
}

/*.username {*/
/*    height: 100px;*/
/*}*/


#main {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}


/*.reset{*/
/*    width:200px;*/
/*    height:150px;*/
/*    background-color: #ccc;*/
/*    margin:0px auto;*/
/*    padding:10px;*/
/*    font-size:30px;*/
/*    color: #fff;*/
/*}*/
.b-popup{
    margin-left: -8.5%;
    margin-top: 100px;
    width:40%;
    height: 50%;
    background-color: rgba(0, 0, 0, 85%);
    overflow:hidden;
    position:fixed;
    top:0px;
    border-radius: 10px;
}
.b-popup .b-popup-content{
    text-align: center;
    margin:40px auto 0px auto;
    width: 400px;
    height: 200px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius:5px;

}






