{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}
{% block content %}
<div class="position-relative p-5 text-center text-muted bg-body">
    <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="/check2-circle"></use></svg>
    <h1 class="text-body-emphasis">Успех!</h1>
    <p class="col-lg-6 mx-auto mb-4">
        Мы отправили письмо на вашу почту, следуйте инструкциям!
    </p>
    <form action="{% url 'main' %}">
        {% csrf_token %}
        <button class="btn btn-outline-primary px-5 mb-5" type="submit">
          На главную
        </button>
    </form>
  </div>
{% endblock %}