{% extends 'base.html' %}

{% block content %}
    {#    <h1>Password reset</h1>#}
    {#    <hr>#}
    {#    <div class="registration">#}
    {#        <form action="{% url 'password_reset' %}" method="post">#}
    {#            <p>Email: {{ form.email }}</p>#}
    {#            {% csrf_token %}#}
    {#        <button type="submit" class="btn btn-success">submit</button>#}
    {#        </form>#}
    {#    </div>#}

    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
         id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-3">Восстановление пароля</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form class="" action="{% url 'password_reset' %}" method="post">
                        {#          <div class="form-floating mb-3">#}
                        {#            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">#}
                        {#            <label for="floatingInput">Email address</label>#}
                        {#          </div>#}
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="Email"
                                   data-model-name={{ form.email }}
                                           <label for="floatingInput">Email</label>
                        </div>
                        {% csrf_token %}




                        <div class="b-container">
{#                            <a href="javascript:PopUpShow()">Show popup</a>#}
                            {% csrf_token %}
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" formaction="javascript:PopUpShow()">Восстановить</button>
                        </div>
                        <div class="b-popup" id="popup1">
                            <div class="b-popup-content">

                                <h1 class="fw-bold mb-5 fs-3" style="color: dodgerblue;">Вам на почту было отправлено письмо, следуйте инструкциям!</h1>

                                <button formaction="/" class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3">Продолжить</button>
                            </div>
                        </div>


                        {#          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>#}
                        {#          <hr class="my-4">#}
                        {#          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>#}
                        {#          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">#}
                        {#            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>#}
                        {#            Sign up with Twitter#}
                        {#          </button>#}
                        {#          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">#}
                        {#            <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>#}
                        {#            Sign up with Facebook#}
                        {#          </button>#}
                        {#          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">#}
                        {#            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>#}
                        {#            Sign up with GitHub#}
                        {#          </button>#}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            //Скрыть PopUp при загрузке страницы
            PopUpHide();
        });

        //Функция отображения PopUp
        function PopUpShow() {
            $("#popup1").show();
        }

        //Функция скрытия PopUp
        function PopUpHide() {
            $("#popup1").hide();
        }
    </script>
{% endblock %}